p {
  color: black;
}
a {
  color: aliceblue;
  background-color: aqua;
  text-decoration: none;
}
a:hover {
  background-color: black;
}
a:active {
  color: red;
}
a:visited {
  color: tomato;
  background-color: black;
}
